%nav.breadCrumbs
  %ul
    %li
      = link_to root_path, class: "genre" do
        FURIMA
    %li
      =icon('fas', 'angle-right', class: "angle-right")
    %li
      = link_to "#", class: "genre" do
        メンズ
    %li
      =icon('fas', 'angle-right', class: "angle-right")
    %li
      = link_to "#", class: "genre" do
        トップス
    %li
      =icon('fas', 'angle-right', class: "angle-right")
    %li
      = link_to "#", class: "genre" do
        シャツ
    %li
      =icon('fas', 'angle-right', class: "angle-right")
    %li
      = link_to "#", class: "product-name" do
        Product1