%nav.breadCrumbs
  %ul.breadCrumbs__list
    %li.breadCrumbs__list__item
      = link_to root_path, class: "genre" do
        FURIMA
    %li.breadCrumbs__list__item
      =icon('fas', 'angle-right', class: "angle-right")
    %li.breadCrumbs__list__item
      = link_to "#", class: "genre" do
        メンズ
    %li.breadCrumbs__list__item
      =icon('fas', 'angle-right', class: "angle-right")
    %li.breadCrumbs__list__item
      = link_to "#", class: "genre" do
        トップス
    %li.breadCrumbs__list__item
      =icon('fas', 'angle-right', class: "angle-right")
    %li.breadCrumbs__list__item
      = link_to "#", class: "genre" do
        シャツ
    %li.breadCrumbs__list__item
      =icon('fas', 'angle-right', class: "angle-right")
    %li.breadCrumbs__list__item
      = link_to "#", class: "product-name" do
        Product1