.footer
  .footer__contents
    %ul.footer__contents__title
      %li.footer__contents__item
        %h2 FURIMAについて
        %ul
          %li
            = link_to "会社概要(運営会社)"
          %li
            = link_to "プライバシーポリシー"
          %li
            = link_to "FURIMA利用規約"
          %li
            = link_to "ポイントに関数る特約"
      %li.footer_contents__item
        %h2 FURIMAを見る
        %ul
          %li
            = link_to "カテゴリー一覧"
          %li
            = link_to "ブランド一覧"
      %li.footer_contents__item
        %h2 ヘルプ＆ガイド
        %ul
          %li
            = link_to "FURIMAガイド"
          %li
            = link_to "FURIMAロゴ利用ガイドライン"
          %li
            = link_to "お知らせ"
  .footer_contets_icon
    =link_to "/" do
      =image_tag "http://furima.tokyo/assets/logo-d3d78326971d78b06e3d6f0ba666d025a8ad681286b4d9e00e7dbe8673bcfd23.svg"
    %p © FURIMA
      