.showMain
  .contentRight
    .topContent
      .itemBox
        .itemBox__name
          Product1
        .itemBox__body
          %ul.mainImage__ul
            %li.mainImage__li
              = image_tag @product.images[0].name.url, class: "mainImage",size: "600x400"
              %ul.subImage__ul
                - @product.images.each_with_index do |image, i|
                  %li.subImage__li
                    - if i > 0
                      = image_tag image.name.url, size: "110x110", class: "subImage"
                  -# %li.subImage__li
                  -#   =image_tag "https://cdn.pixabay.com/photo/2013/09/12/16/14/t-shirt-181707_1280.png", class: "subImage"
                  -# %li.subImage__li
                  -#   =image_tag "https://media.istockphoto.com/vectors/unique-pattern-children-tshirt-illustration-vector-id1131920436", class: "subImage"
                  -# %li.subImage__li
                  -#   =image_tag "https://media.istockphoto.com/vectors/unique-pattern-children-tshirt-illustration-vector-id1131921184?s=170x170", class: "subImage"
        .itemBox__price
          %span.itemPrice
            = @product.price
          .itemBox__price-detail
            %span
              (税込)
            %span
              送料込み
        .itemDetail
          = @product.description
        .table
          %table
            %tbody
              %tr
                %th
                  出品者
                %td
                  = @product.user.nickname
              %tr
                %th
                  カテゴリー
                %td
                  = link_to "#", class: "tableCategory" do
                    メンズ 
                  %br
                  = link_to "#", class: "tableCategory" do
                    トップス
                  %br
                  = link_to "#", class: "tableCategory" do
                    シャツ
              %tr
                %th
                  状態
                %td
                  非常に悪い
              %tr
                %th
                  発送元の地域
                %td
                  東京
              %tr
                %th
                  発送までの日数
                %td
                  1~2日
              %tr
                %th
                  送料
                %td
                  200円
              %tr
                %th
                  説明 
                %td
                  寝巻きに使っていました。ところどころ汚いですがギリギリ使えると思います。
      .commentBox
        %form{"accept-charset" => "UTF-8", :action => "#", :method => "get", :class => "commentForm"}
          %textarea{:name => "comments", :rows => "3", :class => "commentTextarea"}
          %input{:name => "utf8", :type => "hidden", :value => "✓",}
          %button{:type => "submit", :onclick => "#", :class => "commentBtn"}
            コメントする
//福田さん作