.showMain
  .contentRight
    .topContent
      .itemBox
        .itemBox__name
          = @product.name
        .itemBox__body
          %ul.mainImage__ul
            %li.mainImage__li
              = image_tag @product.images[0].name.url, class: "mainImage",size: "600x400"
              %ul.subImage__ul
                - @product.images.each_with_index do |image, i|
                  %li.subImage__li
                    - if i > 0
                      = image_tag image.name.url, size: "110x110", class: "subImage"
        .itemBox__price
          %span.itemPrice
            = @product.price
          .itemBox__price-detail
            %span
              (税込)
            %span
              送料込み
        .itemDetail
          = @product.description
        .table
          %table
            %tbody
              %tr
                %th
                  出品者
                %td
                  = @product.user.nickname
              %tr
                %th
                  カテゴリー
                %td
                
                  = link_to "#", class: "tableCategory" do
                    メンズ 
                  %br
                  = link_to "#", class: "tableCategory" do
                    トップス
                  %br
                  = link_to "#", class: "tableCategory" do
                    シャツ
              %tr
                %th
                  ブランド
                %td
                  = @product.brand
              %tr
                %th
                  状態
                %td
                  = @product.condition_i18n
              %tr
                %th
                  発送元の地域
                %td
                  = @product.prefecture.name
              %tr
                %th
                  発送料の負担
                %td
                  = @product.send_price_i18n
              %tr
                %th
                  発送までの日数
                %td
                  = @product.ship_day_i18n
              %tr
                %th
                  送料
                %td
                  200円

        -# ログイン中かつ出品者の場合
      
        -if user_signed_in? && current_user.id == @product.user_id
          = link_to "商品を編集する", edit_product_path(params[:id]), class: "editBtn"
          = link_to "商品を削除する", product_path(params[:id]), method: :delete , class: "destroyBtn"
         
          -# ログイン中かつ出品者以外の場合

        -elsif user_signed_in?
          = link_to "商品を購入する", "#", class: "purchaseBtn"

          -# (ログアウト時はどちらも表示されない)



      .commentBox
        %form{"accept-charset": "UTF-8", action: "#", method: "get", class: "commentForm"}
          %textarea{name: "comments", rows: "3", class: "commentTextarea"}
          %input{name: "utf8", type: "hidden", value: "✓",}
          %button{type: "submit", onclick: "#", class: "commentBtn"}
            コメントする