.showMain
  .contentRight
    .topContent
      .itemBox
        .itemBox__name
          = @product.name
        .itemBox__body
          %ul.mainImage__ul
            %li.mainImage__li
              = image_tag @product.images[0].name.url, alt: "image_url",size: "200x150", class:"new-img"
              %ul.subImage__ul
                %li.subImage__li
                  = image_tag @product.images[0].name.url, alt: "image_url",size: "200x150", class:"new-img"
                %li.subImage__li
                  = image_tag @product.images[0].name.url, alt: "image_url",size: "200x150", class:"new-img"
                %li.subImage__li
                  = image_tag @product.images[0].name.url, alt: "image_url",size: "200x150", class:"new-img"
        .itemBox__price
          %span.itemPrice
            = @product.price
          .itemBox__price-detail
            %span
              (税込)
            %span
              = @product.status
        .itemDetail
          親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。なぜそんな無闇をしたと聞く人があるかも知れぬ。別段深い理由でもない。新築の二階から首を出していたら、同級生の一人が冗談に、いくら威張っても、そこから飛び降りる事は出来まい。弱虫やーい。と囃したからである。小使に負ぶさって帰って来た時、おやじが大きな眼をして二階ぐらいから飛び降りて腰
        .table
          %table
            %tbody
              %tr
                %th
                  出品者
                %td
                  = @product.user_id
              %tr
                %th
                  カテゴリー
                %td
                  = link_to "#", class: "tableCategory" do
                    メンズ 
                  %br
                  = link_to "#", class: "tableCategory" do
                    トップス
                  %br
                  = link_to "#", class: "tableCategory" do
                    シャツ
              %tr
                %th
                  状態
                %td
                  非常に悪い
              %tr
                %th
                  発送元の地域
                %td
                  東京
              %tr
                %th
                  発送までの日数
                %td
                  1~2日
              %tr
                %th
                  送料
                %td
                  200円
              %tr
                %th
                  説明 
                %td
                  寝巻きに使っていました。ところどころ汚いですがギリギリ使えると思います。
      .commentBox
        %form{"accept-charset" => "UTF-8", action: "#", method: "get", class: "commentForm"}
          %textarea{name: "comments", rows: "3", class: "commentTextarea", placeholder: "コメント"}
          %input{name: "utf8", type: "hidden", value: "✓",}
          - unless @product.buyer_id.present?
            %button{type: "submit", onclick: "#", class: "commentBtn"}
              =link_to "購入する", pay_path, class: "pay"
//福田さん作