.warrper
  .lead
    =link_to root_path do
      =image_tag "http://furima.tokyo/assets/logo-d3d78326971d78b06e3d6f0ba666d025a8ad681286b4d9e00e7dbe8673bcfd23.svg", class: "lead__img"
  
  = form_with model: @product, local: true do |f|
    .input-field
      .input-field__contents
        .input-field__contents-image
          .input-field__contents-image__headline
            .headlabel
              %label
                出品画像
                %span.necessary
                  必須
          %p.upload
            最大5枚までアップロードできます
          
          #image-box-1 
            .item-num-0#image-box__container
              = f.fields_for :images do |i|
                .input-field__contents-image__drop__js-file
                  .input-area
                    = i.file_field :image, type: 'file', name: "product[images_attributes][][name]", value:"", style: "display:none", id:"img-file"
                    %label{for: "img-file"}
                      %i.fas.fa-camera

                -#下記edit時で参考にする
                -# - if @product.persisted?
                -#   - @product.images.each_with_index do |image, i|
                -#     .image_preview
                -#       = image_tag image.src.url, data: { index: i }, width: "100", height: '100'
                -#       %span.js-remove 削除

      .input-field__contents          
        .input-field__contents-name
          .input-field__contents-image__headline
            .headlabel
              %label
                商品名
                %span.necessary
                  必須
            .name-input
              = f.text_field :name, {class: "drop-input", placeholder: "40文字まで"}
          .explain
            .input-field__contents-image__headline
              .headlabel
                %label
                商品の説明
                %span.necessary
                  必須
            = f.text_area :description, {class: "drop-input", placeholder: "40文字まで"}
          .text-counts
            %span> 0/1000
          .please-enter
            入力してください
      .input-field__contents
        .input-field__contents-data
          %p.subline
            商品の詳細
          .input-field__contents-image__headline
            .headlabel
              = f.label :category_id, "カテゴリー" ,class: "new-listing__sell-up-load-head"
              %span.new-listing__form-require
                必須
              .sell__about__right__wrap-box.parent
                %select#parent
                  %option{value: 0} ---
                  -  @parents.each do |parent|
                    %option{value: "#{parent.id}"} #{parent.name}

              -# %select.select-input{name: "product[category_id]"}
              -#   %option{"aria-selected": "false", label: "選択してください", selected: "selected", value: ""} 選択してください
              -#   %option{"aria-selected": "true", label: "レディース", value: "1"} レディース
              -#   %option{"aria-selected": "false", label: "メンズ", value: "2"} メンズ
              -#   %option{"aria-selected": "false", label: "ベビー・キッズ", value: "3"} ベビー・キッズ
              -#   %option{"aria-selected": "false", label: "インテリア・住まい・小物", value: "4"} インテリア・住まい・小物
              -#   %option{"aria-selected": "false", label: "本・音楽・ゲーム", value: "5"} 本・音楽・ゲーム
              -#   %option{"aria-selected": "false", label: "おもちゃ・ホビー・グッズ", value: "1328"} おもちゃ・ホビー・グッズ
              -#   %option{"aria-selected": "false", label: "コスメ・香水・美容", value: "6"} コスメ・香水・美容
              -#   %option{"aria-selected": "false", label: "家電・スマホ・カメラ", value: "7"} 家電・スマホ・カメラ
              -#   %option{"aria-selected": "false", label: "スポーツ・レジャー", value: "8"} スポーツ・レジャー
              -#   %option{"aria-selected": "false", label: "ハンドメイド", value: "9"} ハンドメイド
              -#   %option{"aria-selected": "false", label: "チケット", value: "1027"} チケット
              -#   %option{"aria-selected": "false", label: "自動車・オートバイ", value: "1318"} 自動車・オートバイ
              -#   %option{"aria-selected": "false", label: "その他", value: "10"} その他
              -# %svg{"aria-hidden": "true", fill: "#888888", "fill-rule": "evenodd", height: "24", viewbox:  "0 0 24 24", width: "24", class: "area"}
              -#   %path{d: "M12,15.66a1.73,1.73,0,0,1-1.2-.49L5.21,9.54a.7.7,0,0,1,1-1l5.62,5.62c.15.15.27.15.41,0L17.8,8.6a.71.71,0,0,1,1,0,.69.69,0,0,1,0,1l-5.57,5.58A1.71,1.71,0,0,1,12,15.66Z"}
            .please-enter
              入力してください
            .headlabel
              %label
                ブランド
                %span.any
                  任意
            .name-input
              = f.text_field :brand, class: "option-input"
            .headlabel
              %label
                商品の状態
                %span.necessary
                  必須
            .name-form
              %select.select-input{name: "product[condition]"}
                %option{"aria-selected": "true", label: "選択してください", selected: "selected", value: ""} 選択してください
                %option{"aria-selected": "false", label: "新品、未使用", value: "1"} 新品、未使用
                %option{"aria-selected": "false", label: "未使用に近い", value: "2"} 未使用に近い
                %option{"aria-selected": "false", label: "目立った傷や汚れなし", value: "3"} 目立った傷や汚れなし
                %option{"aria-selected": "false", label: "やや傷や汚れあり", value: "4"} やや傷や汚れあり
                %option{"aria-selected": "false", label: "傷や汚れあり", value: "5"} 傷や汚れあり
                %option{"aria-selected": "false", label: "全体的に状態が悪い", value: "6"} 全体的に状態が悪い
              %svg{"aria-hidden": "true", fill: "#888888", "fill-rule": "evenodd", height:  "24", viewbox: "0 0 24 24", width:  "24", class: "area"}
                %path{d: "M12,15.66a1.73,1.73,0,0,1-1.2-.49L5.21,9.54a.7.7,0,0,1,1-1l5.62,5.62c.15.15.27.15.41,0L17.8,8.6a.71.71,0,0,1,1,0,.69.69,0,0,1,0,1l-5.57,5.58A1.71,1.71,0,0,1,12,15.66Z"}
            .please-enter
              入力してください  
    .input-field
      .input-field__contents
        .input-field__contents-delibary
        %p.delibary
          配送について
        .input-field__contents-image__headline
          .headlabel
            %label
              配送料の負担
              %span.necessary
                必須
            .name-form
              %select.select-input{name: "product[send_price]"}
                %option{"aria-selected": "true", label:  "選択してください", selected:  "selected", value:  ""} 選択してください
                %option{"aria-selected": "false", label: "送料込み(出品者負担)", value: "2"} 送料込み(出品者負担)
                %option{"aria-selected": "false", label: "着払い(購入者負担)", value: "1"} 着払い(購入者負担)
              %svg{"aria-hidden": "true", fill:  "#888888", "fill-rule": "evenodd", height: "24", viewbox: "0 0 24 24", width:  "24", class:  "area"}
                %path{d: "M12,15.66a1.73,1.73,0,0,1-1.2-.49L5.21,9.54a.7.7,0,0,1,1-1l5.62,5.62c.15.15.27.15.41,0L17.8,8.6a.71.71,0,0,1,1,0,.69.69,0,0,1,0,1l-5.57,5.58A1.71,1.71,0,0,1,12,15.66Z"}
            .please-enter
              入力してください
            .headlabel
              %label
                発送元の地域
                %span.necessary
                  必須 
            .identification__form__field 
              .identification__form__field
                .identification__form__field--input.icon-relative
                  = f.collection_select :prefecture_id, Prefecture.all, :id, :name, prompt: "--",class: 'input'
            .please-enter
              入力してください
            .headlabel
              %label
                発送までの日数
                %span.necessary
                  必須
            .name-form
              %select.select-input{name:  "product[ship_day]"}
                %option{"aria-selected": "true", label:  "選択してください", selected:  "selected", value:  ""} 選択してください
                %option{"aria-selected": "false", label:  "1~2日で発送", value: "1"} 1~2日で発送
                %option{"aria-selected": "false", label: "2~3日で発送", value:  "2"} 2~3日で発送
                %option{"aria-selected": "false", label: "4~7日で発送", value: "3"} 4~7日で発送
              %svg{"aria-hidden": "true", fill: "#888888", "fill-rule": "evenodd", height: "24", viewbox:  "0 0 24 24", width: "24", class: "area"}
                %path{d: "M12,15.66a1.73,1.73,0,0,1-1.2-.49L5.21,9.54a.7.7,0,0,1,1-1l5.62,5.62c.15.15.27.15.41,0L17.8,8.6a.71.71,0,0,1,1,0,.69.69,0,0,1,0,1l-5.57,5.58A1.71,1.71,0,0,1,12,15.66Z"}
            .please-enter
              入力してください  
    .input-field
      .input-field__contents
        .input-field__contents-price
          %p.price
            価格 (¥300~9,999,999)
          .plice-colum
            .plice-colum__inner
              .headlabel
                %label
                  販売価格
                  %span.necessary
                    必須
              %span.maney
                ¥
              .colum-input
                = f.number_field :price, placeholder: "0", class: "colum-input__maney-inner"
            .plice-colum__inner
              .plice-colum__inner-item
              -# 後に使用予定
              -#   -# %div 販売手数料 (10%)
              -# %span.fee-value
              -#   ー
            %hr.style-divider
            .plice-colum__inner
            -# 後に使用予定
              -# .plice-colum__inner-item
              -#   販売利益
              -# %span.fee-value
              -#   ー
        .sell
          = f.submit "出品する", class: "sellbtn", tabindex: "0"
          -# 後に使用予定
          -# = f.submit "下書きに保存", class: "save", tabindex: "0"
          .back
            =link_to "もどる", root_path, class: "backbtn"
        .check
          %p.check-list
            禁止されている行為および出品物を必ずご確認ください。偽ブランド品や盗品物などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして加盟店規約に同意したことになります。
    .input-field
      .new-footer
        .terms
          .terms__items
            =link_to "プライバシーポリシー", root_path, class: "terms__items__item"
          .terms__items
            = link_to "メルカリ利用規約" , root_path, class: "terms__items__item"
          .terms__items
            = link_to "特定商取引に関する表記" , root_path, class: "terms__items__item"
        .new-icon
          =link_to root_path do
            =image_tag "http://furima.tokyo/assets/logo-d3d78326971d78b06e3d6f0ba666d025a8ad681286b4d9e00e7dbe8673bcfd23.svg"
        %p.trademark
          © Mercari, Inc.
  